/* Selected text */
::selection {
    background              : $first-color;
    color                   : $second-color;
}

header {

    a {
        text-decoration     : none;
    }

    a.brand {
        padding: 0.5rem;

        &:hover, &:visited {
            background-color: rgba(255, 255, 255, 0.2);
            border-radius   : 10px;
            color           : $first-color;
        }

        h1 {
            font-size       : 2rem;
            text-transform  : uppercase;
        }
    }

    .navigation {

        a {
            border          : 1px solid $first-color;
            border-radius   : 10px;
            display         : inline-block;
            margin-left     : 1rem;
            padding         : 0.2rem 0.8rem;
        }

        a:hover {
            background      : $fourth-color;
            color           : $second-color;
        }

        :last-child {
            background      : $first-color;
            color           : $second-color;

            &:hover {
                background  : $fourth-color;
                color       : $second-color;
            }
        }
    }
    
}

.section-title {
    border-bottom: 1px solid $second-color; 
    font-size               : 2rem;
    font-weight             : 100;
    line-height             : 0.1em;
    letter-spacing          : 0.15rem;
    word-spacing            : 0.4rem;
    margin                  : 6rem auto 0 auto; 
    width                   : 100%; 

    .section-title-line {
        background          : $first-color;
        padding             : 0 10px 0 0; 
    }
}

.cards-container {
    margin-top              : 6rem;
}

.create-container {
    margin                  : 0 auto;

    div {
        margin              : 0 auto;
        width               : 20rem;
        
        .form-control, .gj-datepicker-bootstrap [role=right-icon] button, .border {
            border          : 1px solid $third-color !important;

            &:focus {
                border-color: $fourth-color;
                box-shadow  : 0 0 0 0.25rem rgb(72 160 6 / 80%);
            }          
        }

        .btn-primary {
            background-color: $fourth-color;
            border-color    : $third-color;
            color           : $third-color;
        }

        .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
            color           : $first-color;
            background-color: $fourth-color-dark;
            border-color    : $third-color;
        }

        .btn-primary:not(:disabled):not(.disabled).active:focus, 
        .show>.btn-primary.dropdown-toggle:focus,
        .btn-check:focus + .btn-primary,
        .btn-primary:focus {
            box-shadow      : 0 0 0 0.2rem rgba(72, 160, 6, 0.8) !important;
        }
    }
}

.row {
    .card {
        padding             : 0;
    }
}

.btn-custom {
    border-style     : none;
    color       : $second-color;

    &:hover, &:visited, &:focus, &:active {
        color           : $second-color;
        border-style    : none;
        box-shadow      : none;
    }
}

.btn-edit {
    background  : $fourth-color;

    &:hover, &:active {
        background-color: #d0f8b2;
    }
    &:focus {
        background-color: $fourth-color;
    }
}

.btn-delete {
    background  : $five-color;

    &:hover, &:active {
        background-color: #ff8080;
    }
    &:focus {
        background-color: $five-color;
    }
}

.btn-transparent {
    background  : transparent;

    &:hover, &:active {
        background  : transparent;
        color: #8b949b;
    }

    &:focus {
        background  : transparent;
        color: $second-color;
    }

    &:visited {
        background  : transparent;
        color: $second-color;
    }
}
.pagination {
    .page-item {
        .page-link {
            color           : $second-color;
        }
    }

    .page-item.active {
        .page-link {
            background-color: $third-color;
            border-color    : $third-color;
            color           : $first-color !important;
        }
    }
    
}
