/* Selected text */
::selection {
    background              : $first-color;
    color                   : $second-color;
}

header {

    a {
        text-decoration     : none;
    }

    a.brand {
        padding: 0.5rem;

        &:hover, &:visited {
            background-color: rgba(255, 255, 255, 0.6);
            border-radius   : 10px;
            color           : $first-color;
        }

        h1 {
            font-size       : 2rem;
            text-transform  : uppercase;
        }
    }

    .navigation {

        a {
            border          : 1px solid $first-color;
            border-radius   : 10px;
            display         : inline-block;
            margin-left     : 1rem;
            padding         : 0.2rem 0.8rem;
        }

        a:hover {
            background      : $fourth-color;
            color           : $second-color;
        }

        :last-child {
            background      : $first-color;
            color           : $second-color;

            &:hover {
                background  : $fourth-color;
                color       : $second-color;
            }
        }
    }
    
}

.section-title {
    border-bottom: 1px solid $second-color; 
    font-size               : 2rem;
    font-weight             : 100;
    line-height             : 0.1em;
    letter-spacing          : 0.15rem;
    word-spacing            : 0.4rem;
    margin                  : 6rem 0 0 0; 
    width                   : 100%; 

    .section-title-line {
        background          : $first-color;
        padding             : 0 10px 0 0; 
    }
}

.cards-container {
    margin-top              : 6rem;
}


.row {
    .card {
        padding             : 0;
    }
}

.pagination {
   /*  display: flex;
    justify-content: space-between;

    &:not(:last-child), &:not(:first-child)
    {
        display: inline-block;      
    } */

    .page-item {
        .page-link {
            color           : $second-color;
        }
    }

    .page-item.active {
        .page-link {
            background-color: $third-color;
            border-color    : $third-color;
            color           : $first-color !important;
        }
    }
    
}
