body {
    background      : $first-color;
    color           : $second-color;
    line-height     : $line-height-base;

    header, footer {
        background  : $second-color;
        color       : $first-color;
        height      : 4rem;
    }
}