body {
    background      : $first-color;
    color           : $second-color;
    line-height     : $line-height-base;

    header, footer {
        background  : $second-color;
        color       : $first-color;
        height      : 4rem;
    }

    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;

        #social-media-links {
            display: flex;
            flex-direction: row;
        }

        svg {
            margin: 0 0.5rem 0 0.5rem;
        }

        p {
            margin: 0 0.5rem 0 0.5rem;
        }
    }
}

