body {
    background          : $first-color;
    color               : $second-color;
    line-height         : $line-height-base;

    header, footer {
        background      : $second-color;
        color           : $first-color;
        padding         : 1.5rem;
    }
}