.carousel-inner {
    width: 1440px; 
    height: 400px;
}

.carousel-item {
    width: 1440px; 
    height: 400px;
}

h5 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.05em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.btn-dark {
    width: 161px;
    height: 40px;
    left: 1018px;
    top: 402px;
}